@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  /* background-color: #f5e5d1; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

}
.qote{
  /* font-family: 'Monsieur La Doulaise', cursive; */
  font-family: 'Cormorant Garamond', serif;
} 